/* Highlighted blocks in content or lower highlighted */

.main-content .block-views,section.region-featured-bottom-first .block, .view-eva, .field--type-entity-reference .field--name-instructor-profiles {
    padding: 10px 15px;
    border: 1px solid grey;
    border-radius: 5px;
    background: #eee;
    margin: 15px 0px;
}
.field--type-entity-reference .field--name-instructor-profiles .view-eva
{
border: 0px;
}
