/* Public Contribution Pages */

.page-civicrm-contribute .content-header, .page-civicrm-friend .content-header{
    background-color: #8b1919;
}

.page-civicrm-contribute .page-title, .page-civicrm-friend h1.page-title
{
color: white;
}

.page-civicrm-contribute nav.breadcrumb {
    display: none;
}


.page-civicrm-contribute .crm-container .crm-button{
	font-size: 18px;
padding: 5px 10px;
    background: #8b1919;
}


.page-civicrm-contribute .crm-container .crm-button:hover {
    background: #b41e1e;
}


.page-civicrm-contribute .greywell {
    border: solid grey;
    border-radius: 19px;
    background: #eee;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 750px;
    padding: 10px;
}
